/* ===== font ===== */

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

/* ===== global css ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: relative;
    font-family: Pretendard;
    font-weight: 300;
    border-radius: 30px 0 30px 30px;
    overflow: hidden;
    background-color: transparent;
}

.app {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 251, 216);
    overflow: hidden;
}

.menu {
    width: 100%;
    height: 20px;
    background-color: khaki;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
}

.drag-region {
    width: calc(100% - 80px);
    height: 100%;
    -webkit-app-region: drag;
    padding: 2px 0 0 30px;
}

#notification {
    font-size: 12px;
    color: black;
}

.menu > button {
    border: 0;
    background-color: white;
    font-size: 20px;
    width: 40px;
    height: 100%;
    border-left: 1px solid khaki;
    border-bottom: 1px solid khaki;
    cursor: pointer;
}

.menu > button:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.root {
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.root::-webkit-scrollbar-button {
    display: none;
}

.root::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.root::-webkit-scrollbar-thumb {
    background-color: khaki;
    border-radius: 0 0 5px 5px;
}

.root::-webkit-scrollbar-track {
    background-color: white;
    border-left: 1px solid khaki;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

.cancellation-line {
    text-decoration-line: line-through;
}

.display-none {
    display: none;
}

main {
    width: 300px;
    height: calc(100% - 20px);
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
    width: fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line {
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px 0;
}

ul {
    list-style: '> ';
    padding-left: 20px;
}

.item-input-box {
    width: 300px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.deco {
    margin-left: 6px;
}

.item-input {
    border: 0;
    padding: 0;
    height: 19px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 300;
    width: 230px; 
    background-color: transparent;
}

.deco-2 {
    border-bottom: 1px solid black;
    width: 0;
    margin-bottom: 10px;
}

.item-input:hover + .deco-2 {
    width: 229px;
}

.item-input:focus {
    outline: 0;
}

.item-input::placeholder {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 300;
    color: #646464;
}

.todo-item {
    margin-bottom: 10px;
}

.add-btn {
    width: 0px;
    height: 20px;
    font-size: 12px;
    border: 1px solid khaki;
    border-radius: 5px;
    background-color: khaki;
    cursor: pointer;
    padding-bottom: 2px;
    overflow: hidden;
}

.add-btn:hover {
    transform: scale(1.1, 1.1);
    background-color: black;
    border: 1px solid black;
    color: white;
}

.add-btn:focus {
    outline: 0;
}

.item-input-box:hover .add-btn {
    width: 40px;
}

.todo-item.dragging {
    opacity: 0.5;
}

.todo-item-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    height: fit-content;
}

.todo-item-text {
    display: block;
    width: 200px;
    word-break: break-all;
    cursor:pointer;
}

.tool-box {
    width: 70px;
    display: flex;
    justify-content: end;
}

.check {
    width: 0;
    height: 20px;
    border: 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid khaki;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.todo-item-container.not-dragging:hover .check {
    width: 20px;
}

.tool-box:has(.didCheckbox:checked) .check {
    background-color: black;
    border-color: black;
    color: white;
}

.check:hover {
    transform: scale(1.1, 1.1);
    border: 1px solid black;
}

.didCheckbox {
    transform: translateX(9999px);
    display: none;
}

.delete-btn {
    width: 0;
    height: 20px;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    background-color: khaki;
    cursor: pointer;
    margin-left: 0;
    position: relative;
    padding-bottom: 2px;
    overflow: hidden;
}

.todo-item-container.not-dragging:hover .delete-btn {
    width: 40px;
    margin-left: 10px;
}

.delete-btn:hover {
    transform: scale(1.1, 1.1);
    background-color: black;
    color: white;
}

.delete-btn:focus {
    outline: 0;
}

.finish {
    padding-top: 20px;
}